body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 641px;
    font-family: 'Hanken Grotesk', sans-serif;
}
.container
{
    display: flex;
    height: 470px;
    width: 800px;
    background-color: aqua;
    box-shadow: 1px 1px 22px 1px lightgrey;
    border-radius: 1.5rem;
    background: hsl(0, 0%, 100%);

}
.item1
{
    width:50%;
    height: 100%;
    background-color: white;
    border-radius: 1.5rem;
    color: white;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.circle
{
    margin: 10px 0;
    height: 170px;
    width: 170px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.text1
{
    color: hsl(241, 100%, 89%);
    font-size: 1.5em;
    margin-top: 40px;
}
.num
{
    font-size: 4rem;
    
    margin: 30px auto 0px;
    
}
.belownum
{
    width: 0px auto;
    margin: 0px auto 30px;
}
.colour
{
    color: hsl(241, 100%, 89%);
}
h1{
    font-size: 1.5em;
}
.end1{
    font-size: 18px;
    padding: 0px 70px;
    margin: 5px auto 20px;
}
.text2{
    padding-top: 20px;
    padding-left: 55px;
}
.scores{
    display: flex;
    
    height: 16rem;
    width: 18rem;
    margin-left: 55px;
    flex-direction: column;

}
.size{
    display: flex;
    height: 4rem;
    width: 16;
    margin: 5px 1px;
    align-items: center;
    border-radius: 0.75rem;
}
.image
{
    height: 22px;
    width: 22px;
    
    margin-left: 15px;
}
.red{
    background-color:hsla(0, 100%, 67%, .1);;
}
.orange{
    background-color: hsla(39, 100%, 56%, .1);
}
.green{
    background-color: hsla(166, 100%, 37%, .1);

}
.blue
{
    background-color: hsla(166, 100%, 37%, .1);
}
.para{
    font-weight: bold;
    padding-left: 9px;
    font-size: 17px;
}
.redtext{
    color:  hsl(0, 100%, 67%);
}
.orangetext{
    color: hsl(39, 100%, 56%);
}
.greentext{
    color: hsl(166, 100%, 37%);
}
.bluetext{
    color: hsl(234, 85%, 45%);
}
.mark1{
    margin-left: 5.938rem;
}
.mark2{
    margin-left: 6.1rem;
}
.mark3{
    margin-left: 6.95rem;
}
.mark4{
    margin-left: 7.2rem;
}
.marks{
    font-weight: bold;
    font-size: 1rem;
}
.space{
    height: 50px;
    
    
}
.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    background: #0d4266;
    padding: 16px 110px 16px 110px;
    text-decoration: none;
    margin-left: 55px;
    
  }
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .lighttext{
    color: hsl(226, 10%, 67%);
  }
